
<div class="h-screen">
<h1 class="text-4xl font-bold text-blue-500">Doctors List</h1>
<%= form_tag(doctors_path, method: "get", class: "mb-4") do %>
<div class="flex items-center">
  <%= select_tag(:category_ids, options_for_select([["All", ""]] + @categories.map { |c| [c.title, c.id] }, params[:category_ids]), multiple: true, class: "w-50 h-10 border border-gray-300 rounded-md px-4 py-2 mr-2 focus:outline-none focus:ring-blue-500 focus:border-blue-500") %>
  <%= submit_tag("Filter", class: "h-10 bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600") %>
</div>
<% end %>
<% if @doctors.any? %>
  <ul class= "h-[34rem] overflow-y-auto">
    <% @doctors.each do |doctor| %>
      <li class="bg-gray-100 rounded-lg p-4 mb-4 px-4">
        <div class="flex items-center">
          <div class="mr-4">
            <img src="<%= doctor.avatar.url %>" alt="Doctor Avatar" class="object-cover object-center w-16 h-16 rounded-full">
          </div>
          <div>
            <h3 class="text-lg font-semibold">
              <%= link_to doctor.full_name, doctor %>
            </h3>
            <p class="text-gray-500">
              <%= doctor.categories.pluck(:title).join(", ") %>
            </p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class="text-gray-500">No doctors available.</p>
<% end %>
</div>